<div class="container">
  <div class="row">
    <div class="subnav">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li class="subnav-links"><%= link_to "Resources", "#" %></li>
          <li class="subnav-links"><%= link_to "Agents", "#" %></li>
          <li class="subnav-links"><%= link_to "Blog", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="opening-header" class="row">

        <div class="col-md-12">
          <div class="opening-header">
            <h1>Toronto Real Estate</h1>
              <p class="opening-statement">There are <u>thousands</u> of homes on the market.</p>
              <p class="opening-statement">Reesy helps you find the <u>one</u>.</p>
              <button class="opening-btn">Find Your Home</button>
          </div>
        </div>
  </div>

  <div id="recent-listings" class="row">
    <h1>Recent Listings</h1>
    <div class="col-md-3">
      <div class="listing-brief">
        <div class="listing-img">
          <img src="https://www.westerrahomes.ca/images/headers/westerra-slide1.jpeg" alt="home">
        </div>
        <div class="listing-summ">
          <div class="location-info">
            <span>Address</span>
          </div>
          <div class="price-info">
            <span>Price</span>
          </div>
          <div class="details-info">
            <span class="bed-info">Bed</span>
            <span class="bath-info">Bath</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="listing-brief">
        <div class="listing-img">
          <img src="https://www.westerrahomes.ca/images/headers/westerra-slide1.jpeg" alt="home">
        </div>
        <div class="listing-summ">
          <div class="location-info">
            <span>Address</span>
          </div>
          <div class="price-info">
            <span>Price</span>
          </div>
          <div class="details-info">
            <span class="bed-info">Bed</span>
            <span class="bath-info">Bath</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="listing-brief">
        <div class="listing-img">
          <img src="https://www.westerrahomes.ca/images/headers/westerra-slide1.jpeg" alt="home">
        </div>
        <div class="listing-summ">
          <div class="location-info">
            <span>Address</span>
          </div>
          <div class="price-info">
            <span>Price</span>
          </div>
          <div class="details-info">
            <span class="bed-info">Bed</span>
            <span class="bath-info">Bath</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="listing-brief">
        <div class="listing-img">
          <img src="https://www.westerrahomes.ca/images/headers/westerra-slide1.jpeg" alt="home">
        </div>
        <div class="listing-summ">
          <div class="location-info">
            <span>Address</span>
          </div>
          <div class="price-info">
            <span>Price</span>
          </div>
          <div class="details-info">
            <span class="bed-info">Bed</span>
            <span class="bath-info">Bath</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="trends" class="row">
    <h1>Trends</h1>
  </div>

  <div id="insight" class="row">
    <h1>Editor's Insight</h1>
  </div>
</div>
