<div class="container">
  <div class="row">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Resources", "#" %></li>
        <li><%= link_to "Agents", "#" %></li>
        <li><%= link_to "Blog", "#" %></li>
      </ul>
    </nav>
  </div>
  <div class="row">
  <h1>Toronto Real Estate</h1>
    <div class="col-md-12">
      <p>There are <u>thousands</u> of homes on the market.</p>
      <p>Reesy helps you find <u>yours</u>.</p>
      <button>Find Your Home</button>
    </div>
  </div>
  <div class="row">
    <h1>Recent Listings</h1>
    <div class="col-md-3">
      <div class="listing-brief">
        <div class="listing-img">
          <img style="length: 178px; width: 232px; margin: auto;" src="http://westerrahomes.ca/wp-content/themes/hmb3/images/sliders/slide2.jpg" alt="home">
        </div>
        <div class="listing-summ">
          <ul>
            <li>Address</li>
            <li>Price</li>
            <li>Bed</li>
            <li>Bath</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
