<h3>One of the homes for you: Traditional Design > Family Friendly > Great Schools</h3>

<div class="col-md-8">
  <div class="major-listing-info">
    <h1>2424 Felhaber Cres - OakVille</h1>
    <img src="http://www.rstours.ca/uploads/vtour/24817/c/01.JPG" alt="listing">
  </div>

<div class="listing-details">
  <div class="price-info inline">
    <h1>$1,089,900</h1>
  </div>
  <div class="inline"><h1>Bed: 4+1</h1></div>
  <div class="inline"><h1>Bath: 4</h1></div>
  <div class="inline"><h1>2,900 SQFT</h1></div>
  <br class="clearBoth">
</div>

<div class="house-specific-details">
  <span class= "table-header">Basic Details</span>
  <table class="basic-details">
    <tr>
      <td>MLS Number</td>
      <td>W3797134</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>Semi-Detached</td>
    </tr>
    <tr>
      <td>Levels</td>
      <td>2-Storeys</td>
    </tr>
    <tr>
      <td>Size</td>
      <td>2,900 SQFT</td>
    </tr>
    <tr>
      <td>Lot Size</td>
      <td>26.41 feet x 109.9 feet</td>
    </tr>
    <tr>
      <td>Exterior</td>
      <td>Brick</td>
    </tr>
    <tr>
      <td>Basement</td>
      <td>Finished and Full</td>
    </tr>
    <tr>
      <td>Garage</td>
      <td>Attached</td>
    </tr>
    <tr>
      <td>Driveway</td>
      <td>Private Double</td>
    </tr>
  </table>
<br>
<span class="table-header">Utilities</span>
  <table class="utility-details">
    <tr>
      <td>Heat</td>
      <td>Forced Air</td>
    </tr>
    <tr>
      <td>A/C</td>
      <td>Central Air</td>
    </tr>
    <tr>
      <td>Heating Fuel</td>
      <td>Gas</td>
    </tr>
  </table>
<br>
<span class="table-header">Room Details</span>
  <table class="Rooms">
    <thead>
      <tr></tr>
        <tr>
          <th>Room</th>
          <th>Level</th>
          <th>Dimensions (ft)</th>
        </tr>
    </thead>
    <tr>
      <td>Great Room</td>
      <td>Ground</td>
      <td>11.52 × 18.57 ft</td>
    </tr>
    <tr>
      <td>Dining</td>
      <td>Ground</td>
      <td>10.83 × 10.83 ft</td>
    </tr>
    <tr>
      <td>Kitchen</td>
      <td>Ground</td>
      <td>10.24 × 9.58 ft</td>
    </tr>
    <tr>
      <td>Breakfast</td>
      <td>Ground</td>
      <td>10.24 × 8.66 ft</td>
    </tr>
    <tr>
      <td>Sitting</td>
      <td>Ground</td>
      <td>11.15 × 10.83 ft</td>
    </tr>
    <tr>
      <td>Master</td>
      <td>2nd</td>
      <td>10.83 × 18.57 ft</td>
    </tr>
    <tr>
      <td>2nd Bedroom</td>
      <td>2nd</td>
      <td>10.01 × 12.50 ft</td>
    </tr>
    <tr>
      <td>3rd Bedroom</td>
      <td>2nd</td>
      <td>9.32 × 9.91 ft</td>
    </tr>
    <tr>
      <td>4th Bedroom</td>
      <td>2nd</td>
      <td>8.66 × 9.91 ft</td>
    </tr>
    <tr>
      <td>Rec</td>
      <td>Bsmt</td>
      <td>14.99 × 17.75 ft</td>
    </tr>
    <tr>
      <td>5th Bedroom</td>
      <td>Bsmt</td>
      <td>11.25 × 12.60 ft</td>
    </tr>
    <tr>
      <td>Office</td>
      <td>Bsmt</td>
      <td>6.00 × 6.92 ft</td>
    </tr>

  </table>
</div>

</div>

<div class="col-md-4">
  <div class="options-column">
    <h3>This Home Matches Your Search Criteria</h3>
    <button type="button" name="save">Save</button>
    <button type="button" name="share">Share</button>
  </div>

  <div class="contact-listing">
    <form action="">
      <h4>Visit This Property</h4>
      <h3>Complete the form to schedule a tour today</h3>
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Phone Number">
      <button>Give Me A Tour</button>
    </form>
  </div>

</div>
