@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0;
  padding-top: 60px;
}

h1 {
  font-weight: 300;
  margin: 25px 25px 25px 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

img {
  width: 100%;
}

div.inline { float: left;}
.clearBoth { clear:both; }

table{
  width: 500px;
  border-collapse: collapse;
  td, th {
  padding: 5px;
  }
  tr:nth-child(odd) {
    background-color: #efefef;
  }
}


/*section { min-height: 500px;}
/* header */

.navbar {
  background-color: #1FB1D8;
  border-color: solid 1px #1FB1D8;
  /*#2DCC70;*/
}

.navbar-inverse {
  background-color: #1FB1D8;
  border-color: #1FB1D8;
  /*#2DCC70;*/
}

.navbar-inverse .navbar-nav > li > a {
      color: #FFF;
  }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/** Home Page **/

.subnav-links > a{
  color: #000;
  text-transform: uppercase;
  font-weight:500;
}

.opening-header {
  border-top: solid 2px #000;
  margin-top: 5px;
  margin-bottom: 15px;
}

.opening-statement {
  font-size: 1.7em;
  line-height: 1em;
}

.opening-btn {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 0;
  cursor: pointer;
  min-width: 100px;
  line-height: 40px;
  outline: 0;
  color: #FFF;
  border: solid 1px #1FB1D8;
  background: none;
  background-color: #1FB1D8;
  border-radius: 0 0 0 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

#recent-listings {
  margin: 10px 0 10px 0;
  border-top: solid 2px #000;
}

.listing-summ {
  padding: 10px;
}

.details-info {
  border-top: 1px solid #E5E5E5;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
}

.location-info {
  font-weight: bold;
  color: #000;
}

.price-info {
  font-weight: bold;
  color: #1FB1D8;
}

.bed-info {
  border-right: 1px solid #E5E5E5;
  padding: 5px;
}

.bath-info {
  padding: 3px;
}

.listing-img > img {
  length: 178px;
  width: 232px;
  display: block;
  margin: 0 auto;
}

.listing-details {
  width: 100%;
  height: 100%;
}

.major-details-info {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;

}

.table-header {
  font-size: 2em;
  color: #1FB1D8;
}

.options-column {
  button {
    text-align: center;
    background-color: #1FB1D8;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
  }
}

.contact-listing {
  margin-top: 15px;
  margin-bottom: 10px;
  form {
    height: 300px;
    padding: 10px;
    background-color: #efefef;
    box-sizing: inherit;

    input {
      width: 95%;
      padding: 3px;
      margin: 4px;
    }
    button {
      text-align: center;
      background-color: #1FB1D8;
      color: white;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      padding: 10px;
      margin-top: 5px;
      margin-left: 0px auto;
      display: inline-block;
    }
  }

}

#trends {
  margin: 10px 0 10px 0;
  border-top: solid 2px #000
}

#insight {
  margin: 10px 0 10px 0;
  border-top: solid 2px #000
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  top: 0;
  height: 100px;
  margin-top: 250px;
  width: 250px;
}

#map-viewer {
  display: block;
  width: 50%;
  height: 380px;
  margin: 0 auto;
}

.neighbourhood-preview{
 background-color: #fff;
 width: 100%;
 box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
 display: inline-block;
 margin: 5px;
}
