@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 0;
  padding-top: 60px;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* header */

.navbar {
  background-color: #2DCC70;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  top: 0;
  height: 100px;
  margin-top: 250px;
  width: 250px;
}

#map-viewer {
  display: block;
  width: 50%;
  height: 380px;
  margin: 0 auto;
}

.neighbourhood-preview{
 background-color: #fff;
 width: 100%;
 box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
 display: inline-block;
 margin: 5px;
}
