<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Reesy", root_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-links"><%= link_to "Recent Searches", "#" %></li>
        <li class="nav-links"><%= link_to "Sign In", "#" %></li>
        <li class="nav-links"><%= link_to "Register", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
